<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginGGServlet</servlet-name>
        <servlet-class>controller.LoginGGServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>controller.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistServlet</servlet-name>
        <servlet-class>controller.ArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistDetailServlet</servlet-name>
        <servlet-class>controller.ArtistDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGGServlet</servlet-name>
        <url-pattern>/logingg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistServlet</servlet-name>
        <url-pattern>/artist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistDetailServlet</servlet-name>
        <url-pattern>/artistdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>controller.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>controller.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventIdServlet</servlet-name>
        <servlet-class>controller.EditEventIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventIdServlet</servlet-name>
        <servlet-class>controller.DeleteEventIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventIdServlet</servlet-name>
        <url-pattern>/EditEventIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventIdServlet</servlet-name>
        <url-pattern>/DeleteEventIdServlet</url-pattern>
    </servlet-mapping>

</web-app>
